*{
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 49);
    font-weight: bold;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
.mainDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    height: 50vh;
    width: 90vw;
    margin: 40px;
    border: none;
    padding-right: 10px;
    text-align: right;
    border-radius: 10px;
    background-color: rgb(1, 1, 59);
    font-size: 3em;
}
.btnsDiv{
    height: 50vh;
    width: 100vw;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 10vh;
    width: 20vw;
    border: solid darkorange 3px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    font-size:2em;


}