*{
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px;
    min-width: 80px;
    min-height: 50px;
    border: solid darkorange 3px;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    align-items: center;
    align-content: center;
    width: auto;
    flex-wrap: wrap;
    background-color: rgb(2, 2, 54);
}
/* .display{
    min-width: 300px;
    min-height: 50px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    padding-left: 10px;
    background-color: white;


} */

input{
    margin: 20px;
    color: white;
    background-color: inherit;
    min-width: 380px;
    border: none;
    min-height: 70px;
    justify-self: flex-start;
}
.btnsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    flex-wrap: wrap;
    margin-bottom: 100px;
}